@charset "UTF-8";

// Mixins
@import "components/mixins";

// Variables
@import "components/variables";

// Reset
@import "components/base";

// Components
@import "components/buttons";

.btn {
    @include gradient($primary-color, $primary-color-dark);
}

.gradient-bg {
    @include gradient($primary-color, $primary-color-dark);
}

/* Navbar */
.dropdown-content {
    .collection-title {
        background: $background-primary;
        height: 60px;
        padding-top: 20px;

        span {
            font-size: 30px;
            font-weight: 700;
            color: $text-color-dark;
            margin: 20px 0;
        }
    } 

    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 450px; /* Changed this to accomodate content width */
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
    max-height: 500px;
    right: 0;

    img {
        top: 17%;
        width: 60px !important;
        height: 60px !important;
    }

    .title {
        color: $primary-color;
    }

    .pad {
        margin-top: 15px;
    }

    .secondary-content {
        top: -10px !important;
        right: 0 !important;

        a {
            &:hover {
                background-color: red;
            }
        }
    }
}

nav {
    background-color: $background-primary;

    a {
        color: $text-color-dark !important;
        transition: .5s;

        &:hover {
            background-color: transparent !important;
            color: $primary-color !important;
            transform: scale(1.2);
        }
    }
}

/* Sign In */
/* Sign Up */
#signIn,
#signUp,
#confirmEmail {
    height: 100%;
    background: url('../images/bg.jpg') no-repeat fixed center center / cover;

    .bg-layer {
        height: 100%;
        background: none repeat scroll 0 0 rgba(0,0,0,.7)
    }

    .row {
        height: 100%;
        margin-bottom: 0;
    }

    .left-content,
    .right-content {
        min-height: 100%;
    }

    .left-content {
        padding: -10px 0 0 0;
        color: $text-color-light;
        background: none repeat scroll 0 0 rgba(0,0,0,.4);
        position: relative;

        .title {
            margin-bottom: 4vh;
        }

        .subtitle {
            margin-top: 6vh;
            font-size: 18px;
            line-height: 1.5;
        }

        .bottom {
            bottom: 10px;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            color: $text-color;
        }

        .center-block {
            padding: 0 11%;
        }
    }

    .right-content {
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-left: 30px;
        padding-right: 30px;
        overflow: auto;
        height: 100vh;

        img {
            width: 175px;
            height: 175px;
            margin-top: 30px;
        }

        .logo-text {
            color: $primary-color;
            font-size: 35px;
        }

        .btn-default {
            margin: 15px 0;
        }

        .welcome-text {
            h4 {
                color: $text-color-dark;
            }

            h6 {
                color: $text-color;
            }
        }
    }
}

/* General BG */
#home,
#profile {
    height: 100%;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 53px;
    background-attachment: fixed;
    background-size: cover;

    .bg-layer {
        height: 100%;
        background: none repeat scroll 0 0 rgba(0,0,0,.5);
        z-index: -1000;
    }
}

/* Home */
#home {
    height: 100%;

}

/* Profile */
#profile {
    img {
        width: 100%;
    }

    .content {
        padding: 0 5%;

        .main {
            background-color: #fff;
            height: 100%;
        }
    }
}

/* Validation */
.field-validation-error {
    color: #F44336;
    font-size: 11px;
    position: absolute;
    margin-top: -16px;
}

.valid {
    border-bottom: 1px solid $primary-color !important;
    box-shadow: 0 1px 0 0 $primary-color !important;
}

.error {
    border-bottom: 1px solid #f44336 !important;
    box-shadow: 0 1px 0 0 #f44336 !important;
}

/* Confirm email */
#confirmEmail {
    .btn {
        margin-top: 40px !important;
        width: 20%;
    }
}

.notifications {
    display: block;
    position: fixed;
    background-color: $background-primary;
    height: 100%;
    width: 300px;
    right: 0;
}

.messages {
    @extend .notifications;
}