// Colors 
$primary-color: #3498db !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 20%) !default;

// For text
$text-color: #727272;
$text-color-light: #e3e6e8;
$text-color-dark: #373D3F !default;

// For backgrounds
$background-primary: #ECF0F1 !default;