<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT Friends</title>

    <!-- Styles -->
    <!-- Libs -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/dist/css/materialize.min.css" rel="stylesheet" />
    <link href="~/lib/entypo-webfont-icons/style.css" rel="stylesheet" />

    <!-- Custom -->
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Navbar -->
    @if (!(ViewContext.View.Path.Contains("Password") || ViewContext.View.Path.Contains("Sign")))
    {
        <div class="navbar-fixed">
            <nav id="navbar" class="white" role="navigation" data-headroom>
                <div class="nav-wrapper container">
                    <a id="logo-container" href="#home" class="brand-logo hide-on-med-and-down"><img src="~/Images/ua-logo.png" alt="" /></a>

                    <ul class="left hide-on-med-and-down">
                        <li><a href="/Account/Profile"><i class="et-user left"></i>Profile</a></li>
                        <li><a href="#about"><i class="et-home left"></i>Home</a></li>
                        <li><a href="#resume"><i class="et-magnifying-glass left"></i>Search</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="dropdown-button" data-activates="notifications" data-beloworigin="true"><i class="material-icons">notifications_active</i></a></li>
                        <li><a href="#about"><i class="et-chat"></i></a></li>
                        <li><a href="#resume"><i class="et-log-out"></i></a></li>
                    </ul>

                    <ul id="nav-mobile" class="side-nav">
                        <li class="menu-profile">
                            <div class="profile-inner">
                                <div class="menu-container">
                                    <img src="~/Images/bg3.jpg" alt="">
                                </div>
                                <h3>Ursaciuc Adrian</h3>
                                <h5>Full Stack Developer</h5>
                            </div>
                        </li>
                        <li><a href="#home"><i class="material-icons">home</i>Home</a></li>
                        <li><a href="#about"><i class="material-icons">person</i>About Me</a></li>
                        <li><a href="#resume"><i class="material-icons">assignment</i>Resume</a></li>
                        <li><a href="#portfolio"><i class="material-icons">work</i>Portfolio</a></li>
                        <li><a href="#testimonial"><i class="material-icons">chat_bubble</i>Testimonial</a></li>
                        <li><a href="#contact"><i class="material-icons">send</i>Contact</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>

        <ul id="notifications" class="dropdown-content collection ">
            @Html.Partial("PartialViews/_Notifications")
        </ul>
    }

    <!-- Page content -->

    @RenderBody()

    <!-- Scripts -->
    <!-- Libs -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery.validate.hooks.es5.min.js"></script>

    <!-- Custom -->
    <script src="~/js/init.es5.min.js"></script>
    <script src="~/js/scripts.es5.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>