<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT Friends</title>

    <!-- Styles -->
    <!-- Libs -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/materialize/dist/css/materialize.min.css" rel="stylesheet" />

    <!-- Custom -->
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Navbar -->
    @if (!(ViewContext.View.Path.Contains("Password") || ViewContext.View.Path.Contains("Sign") || ViewContext.View.Path.Contains("Email")))
    {
        <div class="navbar-fixed">
            <nav id="navbar" role="navigation" data-headroom>
                <div class="nav-wrapper container">
                    <ul class="left">
                        <li><a href="#about"><i class="ion-earth"></i></a></li>
                        <li><a href="#resume"><i class="ion-search"></i></a></li>
                    </ul>
                    <ul class="right">
                        <li><a class="open-notifications"><i class="ion-android-notifications"></i></a></li>
                        <li><a class="open-messages"><i class="ion-chatbox"></i></a></li>
                        <li><a href="#resume"><i class="ion-ios-gear"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="notifications hiddendiv" style="display: none;">
            <li>Notifications</li>
        </ul>
        <ul class="messages hiddendiv" style="display: none;">
            <li>Messages</li>
        </ul>

        @*<ul id="notifications" class="dropdown-content collection ">
            <li class="collection-title">
                <div class="center-align">
                    <span>Notifications</span>
                </div>
            </li>
            @Html.Partial("PartialViews/_Notifications")
        </ul>*@
    }

    <!-- Page content -->

    @RenderBody()

    <!-- Scripts -->
    <!-- Libs -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery.validate.hooks.es5.min.js"></script>

    <!-- Custom -->
    <script src="~/js/init.min.js"></script>
    <script src="~/js/scripts.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>