@{
    ViewData["Title"] = "Confirm Email";
}

<div id="confirmEmail">
    <div class="row">
        <div class="col m12 left-content valign-wrapper">
            <div class="center-align">
                <div class="center-block">
                    <i class="material-icons large">done_all</i>
                    <h4 class="title">You have successfully confirmed your email address</h4>
                    <h6 class="subtitle">IT Friends is a new way to connect your friends with your everyday activities in a modern and fun way. Share some picture or some algorithms, it's your choice. That's what this is all about.</h6>
                    <a asp-controller="Account" asp-action="SignIn" class="waves-effect waves-light btn btn-default btn-large">Sign In</a>
                </div>
                @*<div class="bottom">
                        &copy; 2017 Copyright <a href="http://ursaciuc-adrian.azurewebsites.net/">Ursaciuc Adrian</a>
                    </div>*@
            </div>
        </div>
    </div>
</div>