@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div id="home">
    <div class="bg-layer">
            @*<div class="notifications">
                da
            </div>*@
    </div>
</div>