@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div id="signIn">
    <div class="row">
        <div class="col m7 left-content valign-wrapper">
            <div class="center-align">
                <div class="center-block">
                    <h4 class="title">Already part of our world?</h4><br />
                    <a href="/Account/SignIn" class="waves-effect waves-light btn btn-default btn-large">Sign In</a>
                    <h6 class="subtitle">Don't let your friends down when they need you the most, stay connected with them, resolve some problems and, most importantly, speak with them - this is the key to success!</h6>

                </div>
                <div class="bottom">
                    &copy; 2017 Copyright <a href="http://ursaciuc-adrian.azurewebsites.net/">Ursaciuc Adrian</a>
                </div>
               </div>
        </div>
        <div class="col m5 s12 right-content">
            <div class="center-align">
                <img src="~/images/logo.png" class="responsive-img" alt="logo" />
                <h2 class="logo-text">IT Friends</h2>
            </div>

            <div class="welcome-text">
                <h4>Forgot Password</h4>
                <h6><i>We got your back!</i></h6>
                <br />

            </div>
            
            <form method="post">
                <div class="input-field">
                    <input asp-for="Account.Email" class="validate" type="email">
                    <label asp-for="Account.Email"></label>
                </div>
                <div class="right">
                    <button type="submit" class="waves-effect waves-light btn btn-default btn-large">Send</button>
                </div>
                
            </form>
        </div>
    </div>
</div>