@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div id="profile">
    <div class="bg-layer">
        <div class="row">
            <div class="col m12 left-content">
                <div class="center-align">
                    <div class="content">
                        <div class="main">
                            <img src="http://besocial.wp4life.com/wp-content/themes/besocial/images/buddypress-default-cover.png" class="cover-img" alt="cover" />

                            <div class="row">
                                <div class="col m3">
                                    <img src="http://lorempixel.com/output/people-q-c-640-480-9.jpg" class="profile-img responsive-img" alt="profile" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>