

@for (int i = 0; i < 10; i++)
{
    <li class="collection-item avatar">
        <div class="row">
            <div class="col m1">
                <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
            </div>
            <div class="col m10 pad">
                <span class="title">Ursaciuc Adrian</span>
                <p>Likes a post you made</p>
            </div>
            <div class="col m1">
                <a href="#!" class="secondary-content"><i class="material-icons">close</i></a>
            </div>
        </div>
        
        
    </li>
}